body{
    font-family: 'Courier New', Courier, monospace;

}
h2{
    text-align: center;
}
h1{
    text-align: center;
}
.img1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.main{
    background-color: hotpink;
}